li {
    list-style: none;
}
.cotacao-atual-container {
    position: fixed;
    z-index: 1;
    height: fit-content;
    top: 75px;
    background: linear-gradient(90deg, rgba(20,44,97,1) 0%, rgba(41,92,195,1) 46%, rgba(95,140,235,1) 73%, rgba(97,133,207,1) 89%, rgba(112,157,249,1) 100%);
    width: 100%;
    height: fit-content;
    text-align: center;
    box-shadow: -3px 1px 7px 4px rgba(0,0,0,0.5);
}

.cotacao-atual {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 70px;
}

.ativo-cotacao-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 80px;
    background: whitesmoke;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
}