.gerenciar-jogos {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(20, 44, 97, 1) 0%, rgba(41, 92, 195, 1) 46%, rgba(95, 140, 235, 1) 73%, rgba(97, 133, 207, 1) 89%, rgba(112, 157, 249, 1) 100%);
    background-size: cover;
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.jogos-lista-container {
    max-width: 960px;
    height: fit-content;
    margin: 50px 10px 0 10px;
    background: lavenderblush;
    border-radius: 20px;
}

.jogos-lista {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.jogos-lista:last-child {
    padding-bottom: 10px;
}

.descricao-colunas-jogos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 10px;
    justify-content: space-between;
    background: rgba(236, 175, 71, 0.90);
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
}

.descricao-colunas-jogos tr {
    font-weight: bold;
    padding-top: 7px;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
}
.descricao-colunas-jogos th {
    font-family: Poppins;
}

.jogos-lista td {
    justify-self: center;
    align-self: center;
    margin: 7px 0;
}

.jogos-lista {
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 7px;
}
.delete-btn {
    font-family: "Arcade Classic";
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #e5998b;
    cursor: pointer;
    font-size: 40px;
}
.gerenciamento-btn-container {
    display: flex;
    justify-content: space-around;
}
.gerenciamento-btn {
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: #dddee3;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-self: center;
    padding-top: 7px;
}

.gerenciamento-btn:hover {
    background: #ecaf47;
}

.gerenciamento-btn img {
    width: 30px;
    height: 30px;
}

.delete-btn:hover {
    background: tomato;
}

@media screen and (max-width: 649px) {
    .select-and-btn-container {
        display: flex;
        width: 100%;
        margin-top: 180px;
        justify-content: center;
        align-items: center;
    }
    .gerenciar-jogos {
        display: none;
    }
.gerenciar-jogos-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
    .descricao-coluna-jogos-mobile {
        display: grid;
        grid-template-columns: 1fr;
        background: #ffa904;
        width: 100%;
        max-width: 250px;
        margin-left: 10px;
        border-radius: 10px 0 0 10px;
        border: 1px solid black;
    }
    .descricao-coluna-jogos-mobile th {
        font-family: 'Poppins';
        font-weight: bold;
        height: 60px;
        padding-top: 20px;
    }
    .jogos-lista-mobile {
        display: grid;
        background: lavenderblush;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 250px;
        margin-right: 10px;
        border-radius: 0 10px 10px 0;
        border: 1px solid black;
    }
    .jogos-lista-mobile td {
        font-family: 'Poppins';
        font-weight: bold;
        padding-top: 20px;
        justify-content: center;
        text-align: center;
        border-bottom: 1px dashed #eeb658;
    }
    select {
        width: 100%;
        max-width: 300px;
        height: 45px;
        border: none;
        border-radius: 5px;
        font-family: Poppins;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        background: #dddee3;
        box-shadow: 1px 7px 14px -1px rgba(0,0,0,0.91);
    }
    .botoes {
        display: flex;
        position: relative;
        margin-left: 5px;
    }
    .gerenciamento-btn {
        margin-right: 5px;
    }
}